<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<header class="body">
      Get in Touch
</header>

<section class="body">
 <% if (typeof message != 'undefined' && message) { %>
    <h2><%= message %></h2>
<% } %>
 <form method="post" action="contact">
        
    <label>Name</label> 
    <input name="name" placeholder="Type Here">
            
    <label>Email</label>
    <input name="email" type="email" placeholder="Type Here">
            
    <label>Message</label>
    <textarea name="message" placeholder="Type Here"></textarea>
            
    <input id="submit" name="submit" type="submit" value="Submit">
        
</form>
</section>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>